
body{
    margin:0;
    background-color:#f4f4f4;
    font-family: 'Cabin', sans-serif;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}

#d-board-headWrapper{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
#d-board-headWrapper h1{
    position: absolute;
    /* top:%; */
    background-color:#f4f4f4;
    padding: 10px 30px;
    border-radius: 16px;
    top:5%;
}
.d-board-head{
    margin-top: 40px;
    height: 40vh;
    width: 95%;
    background-color: #5cf250;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    padding:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.d-board-gauge{
    display: flex;
}
.d-board-footer{
    margin : -20px;
    text-align: center;
}
.d-board-footer h4{
    font-size: 1.3rem;
    color:white;
}
.d-board-welcome{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 20px;
}

.bottomButton{
    display: flex;
    justify-content: center;
    /* background-color: white; */
    border-radius: 10px;
    font-size: 0.7rem;
    padding: 5px 10px;
    margin-bottom: 100px;
}